.App {
  text-align: center;
}

.teamBoxesCont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.addTeamForm {
  display: flex;
  flex-direction: column;
}

.playerCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.searchSug {
  display: flex;
  flex-direction: column;
}

.statsLine {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.statsHeader {
  font-weight: bold;
}

.pointsRow {
  display: flex;
  justify-content: space-around;
}

.searchSugs {
  position: absolute;
  background-color: rgb(200, 225, 236, 0.9);
  opacity: 100%;
}

.sugCard {
  display: flex;
  font-size: medium;
  color: black;
}

.sugCard:hover {
  background-color: lightgray;
}

.sugPics {
  height: 40px;
}

.rosterPics {
  width: 50px;
}

.statBtnBar {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}

.vStats {
  margin-bottom: 2px;
}

.detPic {
  width: 260px;
  height: 190px;
}

.false {
  opacity: 50%;
}

.true {
  opacity: 100%;
}
