.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  padding: 2vw;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.teamBoxesCont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.addTeamForm {
  display: flex;
  flex-direction: column;
}

.playerCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navBar {
  display: flex;
  justify-content: space-between;
  width: 87vw;
}
