.playerCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px;
  color: rgba(255, 255, 255, 0.7);
  border-top: 1px solid rgb(44, 44, 44);
  border-bottom: 1px solid rgb(44, 44, 44);
}
.playerCard:hover {
  background-color: #313131;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.87);
}

.pos {
  border: 2px solid #03dac5;
  padding: 2.8px 5.6px 2px 5.6px;
  border-radius: 100px;
  color: #03dac5;
  font-size: 17px;
}

.delBtn,
.addBtn {
  background-color: #03dac5;
  color: rgb(44, 44, 44);
  cursor: pointer;
}

.delBtn {
  font-size: 30px;
  padding: 0px 14px 2px 14px;
  border-radius: 10px;
}

.addBtn {
  margin-top: 0.5vh;
  font-size: 25px;
  padding: 8px 17px 10px 16.5px;
  border-radius: 50px;
}

.add-cont {
  display: flex;
  justify-content: center;
}

.addBtn:hover {
  background-color: #9cf5ec;
  box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.88);
}

.delBtn:hover {
  background-color: #cf6679;
  box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.88);
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.player-info-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rosterPics {
  width: 75px;
  margin: 0 7px 0 7px;
}

.nba-name {
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
}

.player-name {
  font-weight: 600;
  font-size: 20px;
}
