.teamBox {
  background-color: rgb(29, 29, 29);
  border-radius: 10px;
  padding: 1.5vw;
  margin-top: 1vh;
  width: 40vw;
  max-width: 400px;
  /* border: 1px solid rgb(44, 44, 44); */
}

.teamName {
  font-size: 3.25vw;
  margin: 5px 0 10px 0;
  font-weight: 700;
}

.teamBoxTitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.roster {
  border-bottom: 1px solid rgb(44, 44, 44);
}

.rosterCont {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
