.pointsRow {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  margin-top: 1vh;
}

.false {
  opacity: 50%;
}

.true {
  opacity: 100%;
}

.green {
  background-color: #78d17c;
  width: 15vw;
}

.red {
  background-color: #cf6679;
  width: 15vw;
}

.green,
.red {
  color: black;
  padding: 1vw;
  border-radius: 10px;
}

.reaction {
  font-size: 2vw;
}

.catBtnBar {
  display: flex;
  background-color: rgb(39, 39, 39);
  padding: 1vh;
  border-radius: 10px;
}

.catBtn {
  padding: 3px 5px 3px 5px;
  margin: 1px;
  background-color: #03dac5;
  color: rgb(44, 44, 44);
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  width: 40px;
}

.analyzeBtn {
  padding: 2px 15px 2px 15px;
  background-color: #03dac5;
  color: rgb(44, 44, 44);
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  width: 80px;
  margin-top: 1vh;
}

.backBtn {
  padding: 4px 15px 4px 15px;
  background-color: #03dac5;
  color: rgb(44, 44, 44);
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  margin: 1vh 45vw 0 45vw;
}

.catBtn:hover,
.analyzeBtn:hover,
.backBtn:hover {
  background-color: #9cf5ec;
  box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.88);
}

.trade-sec,
.res-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(29, 29, 29);
  margin: 1vh 10vw 0 10vw;
  padding: 1.5vw;
  border-radius: 10px;
}

.trade-sec {
  margin-top: 5.5vh;
}

.res-value {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1vh 0 0.5vh 0;
  margin: 1vh 0 0 0;
  border-radius: 10px;
  font-size: 55px;
  font-family: Teko, sans-serif;
}
